html,
body {
    display: flex;
    flex-direction: column;
}

div.blok {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.world {
    display: flex;
    justify-content: space-between;
    height: 40%;
}

.button1 {
    align-self: flex-start;
}

.button {
    align-self: center;
}

div.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}